@use '../variables' as *;

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        background-color: lighten($purple, 10%);
        box-shadow: 0 0 12px 4px rgba(79, 42, 195, 0.6);
    }

    &--primary {
        color: $textColor;
        background-color: $purple;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;

    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}